@charset "utf-8";

/* reset */
*{margin: 0; padding: 0; vertical-align: top;}
body{font-family: 'Noto Sans KR', sans-serif; font-size: 14px; line-height: 23px; font-weight: 500; letter-spacing: 0.02em; color: #626262;}
html,body {width: 100%; height: 100%; overflow-y: hidden;}
body::-webkit-scrollbar { 
  display: none; 
}
html {overflow-y: scroll; font-size: 15px;}
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit;}

.alt-font {font-family: Montserrat;}



/* 메뉴 */
.balloon {
    animation: balloon 3s infinite ease-in-out; 
}


@keyframes balloon { 
    from {transform:translateY(0px);
    }
    
  50% {
      transform:translateY(15px);
    }
  to { 
      transform:translateY(0px);
    }
}


div.wrap {
    width: 100%; 
    height: 100%;
}


  
    
#gnb-mobile {
    display: block;
    width: 100%;
    padding: 0;
}


nav.gnb {
    position: fixed;  
    width: 100%; 
    height: auto; 

    background-color: #fff; 
    z-index: 2;
}

.main_gnb ul{
    display: none;
}

.main_gnb li:hover ul{
    display: block;
}

nav.gnb {
    text-align: center;
}

#m-gnb-menu a{
    margin: 15px 0;
}

nav.gnb li {
    padding: 0;
    font-size: .8rem;
}

nav.gnb li a{
    font-size: .8rem;
    padding: 0;
}

nav.gnb li a:hover {
    color: #CC5151;
    transition: all .5s;
}

nav.gnb li:first-child a:hover, nav.gnb li:last-child a:hover{
    color: #CC5151;
    transition: all .5s;
}

#sub_gnb li {
    font-size: .8rem;
    padding: 0;
}

#sub_gnb li a{
    font-size: .8rem;
    padding: 0;
    margin: 0px 0 10px;
}

.main_gnb>li {
    display: inline-block;
    width: 19%;
}

nav.gnb li:first-child a, nav.gnb li:last-child a{
    font-size: .8rem;
    color: #000; 
}

nav.gnb p {
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 15px 0;
}

nav.gnb li a {
    position: relative; 
    display: inline-block; 
    font-family: Montserrat; 
    font-weight: 600; 
    font-size: .8rem; 
    line-height: 20px; 
    color: #000; 
    box-sizing: border-box;
}





/* 페이지 */
main.main {
    position: absolute;  
    top: 10%;
    width: 100%;
    height: auto; 
    
    text-align: center;
    margin: 0 auto;
} 

section {
    position: absolute; 
    width:100%; 
    height: auto;
    text-align: center;
    margin: 0 auto;
}

section.home {
    height: 100%; 
    background-color: #ECE0D7;
    text-align: left;
}

section.home div.line {
    position: absolute; 
    top: -10%; 
    left: 60%; 
    width: 250px; 
    height: 120%; 
    transform: rotate(1deg); 
    background-color: #CC5151;
}

section.home div.line2 {
    position: absolute; 
    top: -10%; 
    left: 60%; 
    width: 250px; 
    height: 120%; 
    transform: rotate(-1deg); 
    background-color: #CC5151;
}

div.intro {
    position: absolute; 
    top: 50%; 
    left: 10%; 
    transform: translateY(-50%);
}

div.intro p:nth-of-type(1) {
    color: #CC5151; 
    line-height: 8vw; 
    font-size: 5vw;
    
    position: relative;
    top: 0;
    
}

div.intro p:nth-child(3) {
    position: relative;
    top: 10%;
    font-weight: bold;
}

div.intro p:nth-child(4) {
    position: relative;
    top: 10%;
}

div.intro h1 {
    color: #000; 
    line-height: 5rem; 
    font-size: 10vw;
    font-weight: 800;
}


div.info h5 {
    position: relative;
    color: #CC5151;
    font-weight: normal;
    font-size: 15px;
    left:2%; 
}

div.intro p:nth-of-type(2) {
    color: #000; 
    margin-top: 5%; 
    opacity: .9;
}

#subsub {
    position: relative;
    color: #999;
    font-size: 2vw;
}


/*  */
div.p-img {
    position: relative; 
    top: 0;
    width: 90%;
    height: auto;
    border: 1px solid rgba(0,0,0,.1); 
    overflow: hidden;
    margin: 30px auto 50px;
}

div.p-img img {
    width: 100%;
}

div.info {
    position: relative;     
    width: 450px;
    text-align: left;
    margin: 20px auto;
}



.title {
    position: relative; 
    left: 2%;
    font-size: 20px; 
    line-height: 7vw; 
    font-weight: 700; 
    color: #000;
    
    margin: 0 auto;
}


ul.feature {
    margin: 30px auto 0;
}

ul.feature li {
    border-bottom: 1px solid rgba(0,0,0,.1); 
    padding: 13px 0 13px 18px; 
    box-sizing: border-box;
}

ul.feature li:last-child {
    border-bottom: none;
}

ul.feature li span.t {
    display: inline-block; 
    width: 110px;
}

ul.feature li.check-wrap {
    margin-top: 30px;
}

ul.feature li p.check {
    position: relative; 
    left: 15px; 
    font-size: 17px; 
    line-height: 30px;
}

ul.feature li p.check::before {
    content: ""; 
    left: -15px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    border-bottom: 2px solid #CC5151; 
    width: 6px;
}

a.btn {
    position: relative;
    
    display: inline-block; 
    font-weight: 600; 
    color: #fff; 
    background-color: #000; 
    padding: 8px 150px;
    margin: 30px auto 80px;
    text-align: center;
    
    border: 2px solid #000;
}

/* bg */
section.brando div.bg {
    position: absolute; 
    top: -10%; 
    left: 55%; 
    width: 60%; 
    height: 120%; 
    transform: rotate(1deg); 
    background-color: #FFD800;
}

section.bingo div.bg {
    position: absolute; 
    top: -10%; 
    left: 55%; 
    width: 30%; 
    height: 120%; 
    transform: rotate(-1deg); 
    background-color: #CC5151;
}

section.br div.bg {
    position: absolute; 
    top: -25%; 
    left: 55%; 
    width: 30%; 
    height: 150%; 
    transform: rotate(30deg); 
    background-color: #CC5151;
}

.top_btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.top_btn img {
    width: 20px;
    height: 20px;
}
   