@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {font-style: none; text-decoration: none; color: #898989;}
img {max-width: 100%;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}


table {border-collapse: collapse; border-spacing: 0; border: 0 none;}
cation, th, td {text-align: left; font-weight: normal; border: 0 none;}
table caption {width: 0; height: 0; font-size: 0; overflow: hidden;}