@charset "utf-8";

/*font*/
@font-face{
    font-family:"gothic"; 
        src:url(../fonts/GOTHIC.eot) format('embeddedopentype');
        src:url(../fonts/GOTHIC.woff) format('woff'),
            url(../fonts/GOTHIC.ttf) format('trutype');
}

@font-face{
    font-family:"gothic-b"; 
        src:url(../fonts/GOTHICB.eot) format('embeddedopentype');
        src:url(../fonts/GOTHICB.woff) format('woff'),
            url(../fonts/GOTHICB.ttf) format('trutype');
}

@font-face{
    font-family:"gothic-i"; 
        src:url(../fonts/GOTHICI.eot) format('embeddedopentype');
        src:url(../fonts/GOTHICI.woff) format('woff'),
            url(../fonts/GOTHICI.ttf) format('trutype');
}

@font-face{
    font-family:"gothic-bi"; 
        src:url(../fonts/GOTHICBI.eot) format('embeddedopentype');
        src:url(../fonts/GOTHICBI.woff) format('woff'),
            url(../fonts/GOTHICBI.ttf) format('trutype');
}

@font-face{
    font-family:"mg"; 
        src:url(../fonts/YoonMingukR.eot) format('embeddedopentype');
        src:url(../fonts/YoonMingukR.woff) format('woff'),
            url(../fonts/YoonMingukR.ttf) format('trutype');
}


body {
    font-family: 'mg', 'Roboto', sans-serif;
    font-size: 13px;
    color: #323232;
}


/*btn*/
#btn {
    position: absolute;
    top: 40px;
    left: 40px;
    
    width: 46px;
    height: 46px;
    
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    background: #f8f8f8;
   
    z-index: 999;
}

#btn div {
    display: inline-block;
}


#btn a {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 13px;
    overflow: hidden;
}

#btn a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #222;
}

#btn a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #222;
}

#btn span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%;);
    width: 100%;
    height: 1px;
    text-indent: -999px;
    overflow: hidden;
    background: #222;
}

#gnb {
    position: absolute;
    top: 0;
    left: -100%;
    
    width: 30%;
    height: 100%;
    
    box-sizing: border-box;
    z-index: 99;
    transition: ease-in-out .8s;
}

#gnb .icon {
    position: absolute;
    left: -55px;
    top: 35px;
    
}

#gnb .icon1 {
    background: url(../img/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .icon2 {
    background: url(../img/profile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


#gnb .icon1, #gnb .icon2 {
    width: 46px;
    height: 46px;
    
    border-radius: 50px;
    text-align: center;
    
}

#gnb .icon1:hover, #gnb .icon2:hover {
    background: #fff;
    transition: ease-in-out .8s;
}

#gnb .icon1 a, #gnb .icon2 a {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    
}

#gnb .icon img {
    width: 25px;
}

#btn.open + #gnb {
    left: 0;
}

#gnb .gnb_wrap {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}

#gnb .gnb_menu {
    position: absolute;
    left: 95px;
    top: 55px;
}

#gnb ul {
    
    width: 50%;
    height: 100%;
    float: left;
}

#gnb ul li {
    width: 160px;
    height: 110px;
    
}

#gnb .gnb-1 a, #gnb ul li:nth-child(1) {
    font-size: 12px;
    font-family: 'gothic-i';
    letter-spacing: 1px;
    font-weight: 600;
    color: #323232;
    
    height: auto;
}

#gnb li div{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    
}

/*hover*/

#gnb li div:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, .7);
}

#gnb ul li.on a,
#gnb ul li a:hover, #gnb .gnb-1.on a, #gnb .gnb-1 a:hover {
    color: #222;
}

.gnb li:hover {
    
}

/*이미지*/

#gnb .gnb-2 li:nth-child(2) {
    background: url("../img/4-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-2 li:nth-child(3) {
    background: url("../img/5-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-2 li:nth-child(4) {
    background: url("../img/6-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-2 li:nth-child(5) {
    background: url("../img/7-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-2 li:nth-child(6) {
    background: url("../img/8-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-3 li:nth-child(2) {
    background: url("../img/9-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-3 li:nth-child(3) {
    background: url("../img/10-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-3 li:nth-child(4) {
    background: url("../img/11-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-3 li:nth-child(5) {
    background: url("../img/12-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gnb .gnb-3 li:nth-child(6) {
    background: url("../img/13-main-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 960px) {
    

   

}


/*여기까지 nav btn*/



.fp-slidesNav {
    text-align: center;
}




.inner_section {
    position: absolute;
    top: 0px;
    left: 0;
    
    /*수직정렬*/
    width: 100%;
     !important;
    height: 100%;
    min-height: 100%;

}




/*section1*/

.section1 {
    position: absolute;
    top: 0;
    left: 0;
    
    background: url(../img/main-bg.png) no-repeat center center;
    background-color: #99301a;
    
    color: #ddc3af;
    
    width: 100%;
    height: 100%;
    
    z-index: -1;
}

.img_scroll {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5%;
}

.img_scroll img {
    width: 30px;
}


.nemo1 {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 220px;
    height: 210px;
    background-color: rgba(77, 42, 31, 0.34);
}

.section1 .txt1 {
    font-family: 'gothic-bi';
    font-size: 40px;
    line-height: 40px;
    
    position: absolute;
     padding: 45px 0px 0px 50px;
}

.section1 h2 {
    font-family: 'gothic-bi';
    font-size: 90px;
}

/*수직정렬*/

.section1 .txt2-wrap{
    width: 100%;
    height: 100%;
}

.section1 .vertical {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
    text-align: center;
}

.section1 .txt2 {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 9999999;
}

.section1 .txt2-2 {
    font-family: 'gothic';
    letter-spacing: 1.4px;
    font-size: 13px;
}

.section1 .txt3 {
    position: fixed;
    bottom: 0;
    right: 0;
    
    padding-right: 40px;
    padding-bottom: 40px;
    
    line-height: 18px;
    letter-spacing: .5px;
}

.section1 .txt3 span {
    font-family: 'gothic-bi';
    font-size: 12px;
    margin-right: 10px;
}

.section1 .nemo2 {
    position: fixed;
    right: 0;
    bottom: 0;
    
    width: 660px;
    height: 370px;
    background-color: rgba(200, 140, 122, .2);
    
    z-index: -1;
}





@media screen and (max-width: 960px) {
        
    
        
}





/*section2*/
.section2 {
    position: absolute;
    
    background-color: #f8f8f8;
    color: #323232;
    
    width: 100%;
    height: 100%;
    
    z-index: -1;
}


.section2 .inner_section {
    width: 100%;
}

.section2 .nemo1 {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 220px;
    height: 210px;
    background-color: rgba(77, 42, 31, 0.24);
    
    z-index: 1;
}

.section2 .left {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 50%;
    height: 100%;
    
    padding: 5%
    
}

.section2 .left-wrap {
    width: 100%;
    height: 100%;
}

.section2 .left .vertical {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
}

.section2 .left .txt1-wrap {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    
}


.section2 .left .txt1 {
    font-family: 'gothic-bi';
    font-size: 85px;
    line-height: 85px;
    margin-bottom: 100px;
}

.section2 .left .txt2-wrap {
    width: 100%;
    
    text-align: left;
}

.section2 .left .txt2-wrap img {
    width: 110px;
    margin-bottom: 10px;
}

.section2 .left .txt2-wrap .txt2 {
    
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 18px;
}

.section2 .right {
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 50%;
    height: 100%;
    background-color: rgba(230, 220, 213, .5);
    
    padding: 5%;
}

.section2 .right-wrap {
    width: 100%;
    height: 100%;
    
}

.section2 .right .vertical {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
}

.section2 .right .txt3 {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.section2 .right .txt3-wrap .txt-ul {
    margin-bottom: 80px;
}

.section2 .right .txt3-wrap .txt-ul:nth-child(3) {
    margin: 0;
}


.section2 .right .txt3-wrap .txt-ul li{
    text-align: right;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;
}

.section2 .right .txt3-wrap .txt-ul li:nth-child(1) {
    text-align: left;
    font-family: 'gothic-bi';
    letter-spacing: 2px;
    position: absolute;
}

.section2 .right .txt3-wrap .txt-ul li span{
    color: #a43b1c;
    
}

.section2 .right .txt3-wrap .txt-ul:nth-child(3) li:nth-child(2), .section2 .right .txt3-wrap .txt-ul:nth-child(3) li:nth-child(3), .section2 .right .txt3-wrap .txt-ul:nth-child(3) li:nth-child(4), .section2 .right .txt3-wrap .txt-ul:nth-child(3) li:nth-child(5), .section2 .right .txt3-wrap .txt-ul:nth-child(3) li:nth-child(6) {
    font-family: 'gothic-i';
}

.section2 .right .txt3-wrap .txt-ul:nth-child(3) li span{
    font-size: 10px;
    margin-left: 10px;
    letter-spacing: 2px;
    font-family: 'mg';
}





/*sention3*/

.section3 {
    background-color: #f8f8f8;
    color: #323232;
    width: 100%;
}

.section3 .inner_section {
    
    /*수직정렬*/
    width: 100%;
     !important;
    height: 100%;
    min-height: 100%;
}

.section3 .left {
    position: absolute;
    
    width: 50%;
    height: 100%;
    
}

.section3 .left-wrap{
    width: 55%;
    height: 100%;
    margin: 0 auto;
}

.section3 .right-wrap{
    width: 55%;
    height: 100%;
    margin: 0 auto;
}

.section3 .vertical {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
}

.section3 .index-wrap {
    width: 100%;
    
    display: table-cell;
    vertical-align: middle;
    z-index: 9999999;
}

.section3 h3 {
    font-family: 'gothic-bi';
    font-size: 30px;
    margin-bottom: 10px;
    text-align: right;
}

.section3 ul {
    width: 100%;
}

.section3 ul li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 15px;
    
    font-size: 10px;
    text-align: center;
    
}

.section3 ul li:hover {
    
}

.section3 ul li p {
    margin-top: 6px;
    line-height: 15px;
}


.section3 .right {
   position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}









/*section 슬라이드 공통*/
.slide_con {
    position: relative;
    
    width: 80%;
    !important;
    height: 80%;
    min-height: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slide_con img {
    width: 100%;
}


.slide_con:hover .web_contents img {
    filter: brightness(1);
}

/*수직정렬*/

.s-wrap {
    width: 100%;
    height: 100%;
}

.s-vertical {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
    
}

.s-v-wrap {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    
}

/*section4 마가린핑거스*/
.s-1 .s-1-txt {
    width: 25%;
    height: 100%;
    padding-right: 20px;
    
    position: absolute;
    top: 0;
}

.s-1 .s-1-txt .s-1-txt1 {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 15px;
}

.s-1 .s-1-txt .s-1-txt1 div:nth-child(1) {
    font-family: 'gothic-bi';
    font-size: 30px;
}

.s-1 .s-1-txt .s-1-txt2 {
    font-size: 12px;
    line-height: 19px;
    padding-right: 20px;
    
    position: absolute;
    bottom: 0;
}

.s-1 .s-1-txt .s-1-txt2 div {
    margin-bottom: 20px;
}

.s-1 .s-1-txt .s-1-txt2 div:last-child {
    margin: 0;
    text-align: center;
    background: #f8f8f8;
    padding: 8px;
}

.s-1 .s-1-txt .s-1-txt2 span {
    font-weight: bold;
    
}

.s-1 .s-1-img {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 75%;
}



.s-1 .s-1-img img {
    width: 100%;
}


.s-2 {    
    width: 100%;
    height: 100%;
    
    background-color: #e3d6b4;
}

.s-2 p {
    padding: 40px;
    font-size: 11px;
    letter-spacing: .2px;
    font-weight: bold;
}

.s-2 .s-2-img {
    position: absolute;
    top: 0;
    width: 90%;
}

.s-2 img {
    width: 100%;
    
}

.s-3 {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
}

.s-3-img {    
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    background: url(../img/4-img4.png) no-repeat center center;
    
}

.s-3 img {
    width: 100%;
}







/*tablet*/
@media all and (min-width: 769px) and (max-width: 1200px) {
    .s-1 .s-1-txt {
        background: #ddd;
    }
}

/*mobile*/
@media all and (max-width: 768px) {
   
}
