@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
html {font-size: 10px;}
button {outline: none;}


@font-face {
    font-family: 'karla';
        src: url(../fonts/karla.woff) format('karla');
}


/*main 페이지*/

body{
    margin: 0 auto; 
    font-family: 'Bree Serif', serif;
    color: #000;
}

img {
    width: 100%;
    height: auto;
}


/* 공통 */

.container {
    width: 100%;
    margin-top: 0;
}

.container .main_img img {
    width: 100%;
    height: auto;
}

.container .header {
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
}


.container .lnb ul {
    overflow: hidden;
    position: absolute;
    right: 1%;
}

.container .lnb ul li {
    float: left; 
    font-size: 13px; 
    margin: 0 .5rem;
    font-family: 'karla'
}

.container .logo {
    text-align: center;
}

.container .logo img {
    max-width: 250px;
    display: inline-block;
}

.container .logo a {
    display: block;
    margin: 80px auto 50px;
}

.container .gnb button {
    display: none;
}

.container .gnb {
    text-align: center;
    overflow: hidden;
}

.container .gnb ul {
    font-size: 0;
    display: block;
    margin: 30px auto 130px;
}

.container .gnb ul li {
    display: inline-block;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 0 15px; 
    text-transform: uppercase; 
}

.container .gnb ul li a{
    color: #000;
    display: block;
}



/*gnb 아래 라인

.container .gnb ul li::after {
    content: '';
    background-color: #555555;
    width: 100%;
    height: 2px;

    position: absolute;
    bottom:  -5px;
    left: 0;

    opacity: 0;

    transition: all .5s;
}

.container .gnb ul li:hover::after {
    opacity: 1;
    bottom: -3px;
}*/


/*메인 newseason 화살표 버튼
    .main_newseason button {
    position: absolute;
    width: 42px; 
    height: 42px;
    top: 0;
    border: none; 
    padding: 40px 20px 0; /*글자를 밖으로 밀어냄
    overflow: hidden;/*or text-indent: -99999px;
}

.main_newseason button span {
    position: absolute;
    left: 15px; 
    top: 15px; 
    width:10px;
    height:10px;

    border-bottom:2px solid #333;
    border-left:2px solid #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main_newseason button:nth-child(2) {
    position: absolute;
    width: 42px; 
    height: 42px;
    left: 40%;
    top: 100%;
    border: none; 
    padding: 40px 20px 0; /*글자를 밖으로 밀어냄
    overflow: hidden;/*or text-indent: -99999px;
}

.main_newseason button:nth-child(2) span {
    position: absolute;
    left: 15px; 
    top: 15px; 
    width:10px;
    height:10px;

    border-bottom:2px solid #333;
    border-left:2px solid #333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-135deg);
}*/







/* .section 메인페이지 */

.section {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

 .section .main_newseason {
}

.section .line {
    border: 2.5px solid #000;
}

.main_new_lookbook {
    width: 50%;
}

.main_new_lookbook img {
    width: 100%;
}

.main_new_lookbook a  {
    display: block;
    width: 90%;
}

.main_new_lookbook a:hover{
    
}

.section .main_newseason_txt {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10%;
}

.section .main_newseason p:nth-child(1) {
    margin-bottom: 20px;
    width: 20%;
}

.section .main_newseason p:nth-child(2) {
    text-align: left;
    font-size: 35px;
    color: #000;
    line-height: 45px;
    letter-spacing: 2px;
}

.section .main_newseason p:nth-child(2) a{
    display: block;
    color: #000;
}

.section .main_newseason p:nth-child(2) a:hover span{
    color: #371607;
    transition: all 2s;
}

.section .main_newseason p:nth-child(3) {
    margin-top: 20px;
    width: 20%;
}

.section .main_newseason .newseason_img{
    width: 100%;
    margin-top: 30px;;
}

.section .main_newseason .newseason_img img{
    display: inline-block;
}
    
.section .main_email {    
    width: 100%;
    background: url(../images/main-line.png) no-repeat center;
    height: 200px;
    margin: 150px 0 120px;
    text-align: center;
}

.section .main_email h3 {
    color: #000;
    font-size: 3rem;
    padding: 45px 0 10px;
    letter-spacing: 2px;
    font-size: 26px;
}

.section .main_email input {
    min-width: 250px;
    height: 40px;
    border: 0;
    padding-left: 13px;
    margin-right: 5px;
    font-family: 'karla';
    display: inline-block;
}

.section .main_email button {
    width: 100px;
    height: 40px;
    letter-spacing: 1px;
    font-size: 12px;
    background-color: #dabf7a;
    font-family: 'Bree Serif';
    color: #000;
    display: inline-block;
    outline: none;
}

.section .main_email button:hover {
    background-color: #000;
    opacity: .9;
    transition: all 2s;
    color: #dabf7a;
}

 .section .main_about {
     padding: 0 50px;
}

.section .main_about ul li {
    display: inline-block;
}

.section .main_about ul li:nth-child(1) {
    width: 50%;
    float: left;
}

 .section .main_about ul li:nth-child(1) p:nth-child(1) {
    text-align: left;
    font-size: 30px;
    color: #000;
    line-height: 45px;
    letter-spacing: 2px;
}

.section .main_about ul li:nth-child(1) p:nth-child(2) {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section .main_about ul li:nth-child(1) p:nth-child(3) {
    width: 18%;
}

.section .main_about ul li:nth-child(2) p {
    width: 400px;
    font-family: 'karla';
    font-size: 15px;
    line-height: 30px;
}

.section .main_best {
    text-align: center;
} 

.section .main_best_m {
    display: none;
    }

.section .main_best .main_best_pc {
    margin: 40px 0 120px;
}

.section .main_best .main_best_pc li {
    width: 30%;
    display: inline-block;
    height: 800px;
    margin: 0 0 0 10px;
}

.section .main_best .main_best_pc li:nth-child(1) {
    margin-right: 15px;
}

.section .main_best .main_best_pc li:nth-child(2) {
    margin-right: 15px;
}

.section .main_best .main_best_pc li .main_best_box {
    position: relative;
    top: 90%;
    background: #dabf7a;
    width: 50%;
    text-align: left;
    margin: 0 auto;
    padding: 25px;

    font-size: 22px;
    letter-spacing: 3px;
}

.section .main_best .main_best_pc li .main_best_box a {
    display: block;
    color: #000;
}

.section .main_best .main_best_pc li .main_best_box .line {
    width: 30px;
}

.section .main_best .main_best_pc li .main_best_box p:nth-child(1){
    margin-bottom: 10px;
}

.section .main_best .main_best_pc li .main_best_box p:nth-child(3){
    margin-top: 10px;
}

.section .main_best .main_best_pc li .main_best_box2 {
    position: relative;
    top: 95%;
    z-index: 999;

    font-family: 'karla';
    text-align: left;
    line-height: 25px;
}

.section .main_best .main_best_pc li:nth-child(1) {
    background: url(../images/main-best1.png) no-repeat center;
    margin-left: 0;
}

.section .main_best .main_best_pc li:nth-child(1):hover {
    background: url(../images/main-best1-hover.png) no-repeat center;
    transition: ease-out 1s;
}   

.section .main_best .main_best_pc li:nth-child(2) {
    background: url(../images/main-best2.png) no-repeat center;
    margin-left: 0;
}

.section .main_best .main_best_pc li:nth-child(2):hover {
    background: url(../images/main-best2-hover.png) no-repeat center;
    transition: ease-out 1s;
}

 .section .main_best .main_best_pc li:nth-child(3) {
    background: url(../images/main-best3.png) no-repeat center;
    margin-left: 0;
}

.section .main_best .main_best_pc li:nth-child(3):hover {
    background: url(../images/main-best3-hover.png) no-repeat center;
    transition: ease-out 1s;
}

.section .main4 {
    width: 85%;
    margin: 360px auto 120px;
    font-size: 0;
}

.section .main4 img {
    width: 100%;
}

.section .main_insta {
    width: 100%;
}

.section .main_insta p:nth-child(1) {
    margin-bottom: 5px;
    font-size: 25px;
}

.section .main_insta p:nth-child(2) {
   margin-bottom: 20px;
}

.section .main_insta ul li {
    float: left;
    width: 25%;
    padding-left: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.section .main_insta ul li a {
    display: block;
}

.section .main_insta ul li:nth-child(1) {
    font-size: 25px;
    color: #000;
    
    letter-spacing: 2px;
    line-height: 28px;
    margin-top: 30px;
    padding-left: 0;
}

.section .main_insta ul li:nth-child(1) .line {
    width: 30px;
    margin: 10px 0;
}


.section .main_insta ul li:nth-child(5) {
    
} 

/* footer */

 .footer {
    clear: both;
    
    width: 100%;
    padding: 50px 0;
    margin: 0 auto 0;
    text-align: center;
}

.footer hr {
    border-top: 2px solid #000;
    margin: 80px 0;
}

.footer .footer-logo {
    margin-bottom: 20px;
}

.footer .footer-logo img {
    width: 150px;
}

.footer .copyright {
    margin-bottom: 20px;
    font-size: 12px;
}

.footer .footer-btn ul li{
    display: inline-block;
    
}

.footer .footer-btn ul li a {
    display: block;
}

.footer .footer-btn ul li a img {
    width: 30px;
}

.top_btn {
    position: fixed;
    bottom: 1%;
    right: 1%;
    border: none;
}

.top_btn span {
    width:0px;
    height:0px;
    border-right:10px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-bottom:10px solid #000; /*border를 사용해 두께를 만든다.*/
    
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 5px);
    transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
}

.top_btn a {
    display: block;
    padding: 2.5rem 1rem .5rem;
}

    
/*PC*/    
@media all and (min-width:1024px) {
    
}


/* 태블릿-768px */
@media all and (min-width:768px) /*and (max-width: 1023px)*/{ 
       
}



/*모바일*/
@media all and (max-width: 768px) { /*최대너비가 768px*/
    
    .main_img {
        display: none;
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
    }
    
    .container .header {
        margin: 0;
        width: 100%;
    }
    
    .container .header .logo a {
        margin: 80px auto 40px;
    }
    
    .container .logo {
        text-align: center;
    }

    .container .logo img {
        max-width:180px;
        display: inline-block;
    }
    
    .container .header .lnb {
        display: none;
    }
    
    .header .gnb button {
        position: absolute;
        top: .5%;
        left: 0%;
        
        width: 25px; 
        height: 20px; 
        
        border: none; 
        
        padding: 20px 0 0 0; /*글자를 밖으로 밀어냄*/ 
        overflow: hidden;/*or text-indent: -99999px;*/ 
        
        margin-left: 3%;
        margin-bottom: 1.5rem;
    }
    
   .header .gnb button span {
        position: absolute;
        
        width: 30px; 
        height: 3px;
        
        left: 0px; 
        top: 0px;
        
        border: 11px double #000;
        border-left: none; 
        border-right: none;
    }
    
    .header .gnb ul { /*새로고침했을때 안보이는 상태*/
        display: none;
        margin: 50px auto;
    }

    .container .gnb button {
        display: block;
    }

    .container .gnb ul li {
        color: #000;
        margin: 10px 0;
        display: block;
    }
    
  
    
    /*gnb 아래 라인

    .container .gnb ul li::after {
        display: none;
    }

    .container .gnb ul li:hover::after {
        display: none;
    }*/
    
    .section {
        width: 90%;
        padding: 40px 0;
        text-align: center;
        margin: 0 auto;
    }
    
    .section .main_newseason .main_new_lookbook {
        width: 100%;
    }
    
    .section .main_newseason .main_new_lookbook a {
       width: 100%;
    }
    
    .section .main_newseason .main_newseason_txt {
        width: 100%;
        position: relative;
        top: 0;
        padding: 40px 0 0;
    }
    
    .section .main_newseason .main_newseason_txt p:nth-child(2) {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 38px;
    }
    
    .section .main_about ul li:nth-child(1) p:nth-child(1) {
        
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 1px;
    }
    
    .section .main_about ul li:nth-child(2) {
        font-size: 13px;
    }
    
    .section .main_newseason .newseason_img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .section .main_newseason .newseason_img img {
        display: block;
        margin: 0;
        padding-top: 40px;
    }
    
    .section .main_email {
        margin: 120px auto;
    }
    
    .section .main_email h3 {
        font-size: ;
        letter-spacing: 01px;
        
    }
    
    .section .main_email input {
        margin-top: 10px;
    }
    
    .section .main_email button {
        margin-top: 10px;
    }

    .section .main_about {
        padding: 0;
        margin: 40px 0;
    }
    
    .section .main_about ul li:nth-child(1) {
        width: 100%;
        margin: 0 0 20px;
    } 
    
    .section .main_about ul li:nth-child(2) p {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        line-height: 22px;
        font-size: 13px;
    }
    
    .section .main_best {
    }
    
    .section .main_best .main_best_pc {
        display: none;
    }
    
    
    .section .main_best .main_best_m {
        display: block;
        
    }
    
    .section .main_best .main_best_m li {
        width: 100%;
        height: 500px;
        margin-bottom: 300px;
        
    }
    
    
    .section .main_best .main_best_m li:nth-child(1) {
        background : url(../images/main-best1.png);
    }
    
    .section .main_best .main_best_m li:nth-child(2) {
        background : url(../images/main-best2.png);
    }
    
    .section .main_best .main_best_m li:nth-child(3) {
        background : url(../images/main-best3.png);
    }
    
    .section .main_best .main_best_m .main_best_box {
        width: 60%;
        padding: 50px 30px;
        margin: 0 auto;
        text-align: left;
        background-color: #dabf7a;
        
        position: relative;
        top: 80%;
    }
    

    .section .main_best .main_best_m .main_best_box p:nth-child(2) {
        font-size: 32px;
        margin: 10px 0;
        color: #000;
        letter-spacing: 3px;
        line-height: 40px;
    }
    
    .section .main_best .main_best_m .main_best_box2 {
        position: relative;
        top: 80%;
        margin-top: 20px;
        text-align: left;
        line-height: 22px;
        font-size: 13px;
        font-family: 'karla';
    }
    
    
    .section .main_best .main_best_m .line{
        width: 20%;
    }
    
    .section .main4 {
        margin: 40px auto;
        width: 100%;
        font-size: 0;
    }
    
    .section .main_insta {
        margin-top: 60px;
    }
    
    .section .main_insta ul li {
        width: 50%;
    }
    
    .section .main_insta ul li:nth-child(1) {
        
        text-align: left;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 2px;
        padding: 20px 0 0;
    }
    
    .footer {
        width: 90%;
    }
    
    .footer .footer-logo img {
        width: 20%;
    }
    
    .footer .copyright {
        font-size: 10px;
    }


}


/**/
/**/
/*about 페이지*/

.section {
    position: relative;
    top:0;
    width: 80%;
}

#about_left {
    width: 70%;
    margin-top: 80px;
}

#about_left p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
}

#about_left img {
    width: 100%;
    height: auto;
}

#about_left .t1 {
    font-family: 'karla';
    line-height: 23px;
    margin: 40px 0 20px;
}

#about_left .t2 {
    font-family: 'karla';
    line-height: 23px;
}

#about_left .about2 {
    margin: 120px 0;
}

/* about 오른쪽 */
#about_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    padding: 160px 40px 0;
    box-sizing: border-box;
}

#about_right .about_copy {
    font-size: 20px;
    margin-bottom: 20px;
}


#about_right .about_touch .touch_img{
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
    background: url(../images/main-best1.png) no-repeat ;
    background-size: 100%;
    box-sizing: border-box;
}

#about_right .about_touch .touch_img:hover{
    background: #dabf7a;
    transition: ease-out 2s;
}

#about_right .about_touch .touch_img a p:nth-child(2){
    color: #000;
    display: block;
    font-size: 30px;
    margin: 10px 0;
    line-height: 40px;
    letter-spacing: 2px;
}

#about_right .about_touch .touch_txt {
    margin: 20px 0 40px;
    font-family: 'karla';
    line-height: 23px;
    
}

#about_right .about_btn {
    margin: 0 auto;
    text-align: center;
}

#about_right .about_btn ul li{
    display: inline-block;
    font-size: 0;
}

#about_right .about_btn ul li a {
    display: block;
}

#about_right .about_insta {
    margin: 40px auto 0;
}

#about_right .about_insta h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    clear: both;
}

#about_right .about_insta ul li {
    width: 50%;
    float: left;
    
    box-sizing: border-box;
    padding: 5px;
    
    overflow: hidden;
}

#about_right .about_insta ul li a {
    display: block;
}


#width-page {
    width: 100%;
    
}

/*모바일*/
@media all and (max-width: 768px) { 

    .about_top {
        width: 100%;
        margin: 40px 0 0;
    }
    
    .about_top img {
        display: block;
    }
    
    .section {
        width: 90%;
    }

    #about_left {
        width: 100%;
        background: #fff;
        margin-top: 40px;
        text-align: left;
    }
    
    #about_left p {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    #about_left .t1 {
        margin: 20px 0 10px;
        font-size: 13px;
    }

    #about_left .t2 {
        font-size: 13px;
    }

    #about_left .about2 {
        margin: 80px 0;
    }
    
    #about_right {
        width: 100%;
        position: relative;
        text-align: left;
        padding: 0;
        
    }
    
    #about_right .about_copy {
        font-size: 24px;
        margin: 0 0 10px;
    }
    
    
    #about_right .about_touch .touch_img{
        padding: 40px 40px;
        
    }

    #about_right .about_touch .touch_img a p:nth-child(2){
        font-size: 40px;
        margin: 40px 0;
        line-height: 60px;
        letter-spacing: 2px;
    }

    #about_right .about_touch .touch_txt {
        margin: 10px 0 80px;
        font-size: 13px;
    }

    
    #about_right .about_btn ul li{
        margin: 0 20px;
    }

    #about_right .about_insta {
        text-align: center;
        margin-top: 80px;
    }

    #about_right .about_insta h3 {
        width: 100%;
        font-size: 28px;
        margin: 0 0 10px;
    }

    #about_right .about_insta ul li {
        width: 100%;
        padding: 10px;
        border: .5px solid #ddd;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    #about_right .about_insta ul li a {
        display: block;
    }
    
}





/**/
/*LOOKBOOK-소개*/
.section .lookbook1 {
}

.section .lookbook1 .lookbook1-1 {
    font-size: 0;
}

.section .lookbook1 .lookbook1-2 {
    background-color: #eee;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0 0;
}

.section .lookbook1 .lookbook1-2 ul li {
    display: inline-block;
}

.section .lookbook1 .lookbook1-2 img {
    width: 100%;
    display: block;
}

.section .lookbook1 .lookbook1-2 ul li:nth-child(1) {
    width: 50%;
    padding: 60px 0 60px 60px;
    box-sizing: border-box;
}

.section .lookbook1 .lookbook1-2 ul li:nth-child(2) {
    width: 50%;
    position: absolute;
    right: 0;
    text-align: center;
    
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
}

.section .lookbook1 .lookbook1-2 ul li:nth-child(2) p:nth-child(1) {
    font-size: 23px;
    margin-top: 60px;
}

.section .lookbook1 .lookbook1-2 .line {
    width: 60%;
    margin: 10px auto 0;
    border: 1px solid #000;
}

.section .lookbook1 .lookbook1-2 ul li:nth-child(2) p:nth-child(3) {
    font-size: 35px;
    margin: 40px 0;
}

.section .lookbook1 .lookbook1-2 ul li:nth-child(2) p:nth-child(4) {
    font-family: 'karla';
    margin: 40px auto;
    font-size: 13px;
    line-height: 25px;
    width: 80%;
}

.section .lookbook1 .lookbook1-2 img:nth-child(2) {
    width: 100%;
    display: block;
    
    background-color: #eee;
    padding-top: 40px;
}


/*모바일*/
@media all and (max-width: 768px) { 
    
    .section .lookbook1 .lookbook1-1 {
        width: 100%;
    }
    
    .section .lookbook1 .lookbook1-2 {
        background-color: #fff;
        
        padding: 0;
    }
    
    .section .lookbook1 .lookbook1-2 ul li{
        display: block;
        
    }
    
    .section .lookbook1 .lookbook1-2 ul li:nth-child(1) {
        width: 100%;
        padding :40px;
    }
    
    
    .section .lookbook1 .lookbook1-2 ul li:nth-child(2) {
        width: 100%;
        margin: 40px auto 80px;
        padding: 0;
        position: relative;
    }
    
    .footer {
        margin-top: 40px;
    }
    
}



/**/
/*lookbook 리스트 페이지*/


#section-lookbook {
    text-align: center;
    background-color: #ffffe0;
    width: 100%;
}

.section .lookbooklist1 {
    font-family: 'karla';
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.section .lookbooklist1 img{
    display: block;
    font-size: 0;
    padding: 80px 20px 20px;
    box-sizing: border-box;
    width: 100%;
}

.section .lookbooklist1 p {
    font-size: 13px;
    width: 70%;
    margin: 40px auto 0;
    line-height: 25px;
}


.section .lookbooklist1 .line {
    width: 10%;
    
}

.section .product_list {    
    overflow: hidden;
    padding: 80px 10px 120px;
    width: 90%;
    margin: 0 auto;
}

.section .product_list li {
    width: 25%;
    float: left;
    font-size: 0;
    
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-left: 10px;
    
    vertical-align: top;
}

.section .product_list li a {
    display: block;
}


.lookbooklist2 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 80px;
    line-height: 25px;
}


/*모바일*/
@media all and (max-width: 768px) { 
    
    #section-lookbook {
        background: none;

    }
    
    .section .lookbooklist1 {
        padding: 0 0 40px;
        margin: 0 auto;
        width: 100%;
        background-color: #ffffe0;
    }
    
    .section .lookbooklist1 img{
        padding: 40px 0 0;
        margin: 0 auto;
        width: 90%;
    }
    
    .section .lookbooklist1 .line {
        display: none;
    }
    
     .section .product_list {
      padding: 40px 0 0 0;   
    }
    
    .section .product_list li {
        width: 100%;
    }
    
    .lookbooklist2 {
        padding: 0;
        font-size: 10px;
        line-height: 11px;
        margin: 40px auto;
    }
    
   
    
    
}


/**/
/*shop*/

#shop-gnb {
    margin-bottom: 40px;
}

.shop_top {
    margin-bottom: 40px;
}

.shop_top img:nth-child(1){
    display: block;
}

.shop_top img:nth-child(2){
    display: none;
}


.section .shopmenu_list {
    width: 50%;
    float: left;
}

.section .shopmenu_list li {
    font-size: 15px;
    margin-bottom: 5px;
}

section .shopmenu_list li a{
    display: block;
    color: #000;
}

section .shopmenu_list li a span {
    color: #b72020;
}


section .shopmenu_list li a:hover{
    color: #555;
    transition: all .3s;
}

.section .shopmenu_list li:nth-child(1) {
    font-size: 18px;
}

.section .shop_container {
    width: 80%;
    float: right;
}

.section .shop_container .line {
    width: 100%;
    border: .5px solid #333;
    margin: 7px auto 10px; 
}


.section .shop_container li {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    text-align: center;
}


.section .shop_container ul li p{
    color: #333;
    font-family: 'karla';
    font-size: 13px;
}
    
.section .shop_container ul li p span {
    color: #000;
    font-weight: 800;
}


.section .shop_container ul {
    overflow: hidden;
}

.section .shop_container h2{
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    clear: both;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-bottom: 5px;
}


/*모바일*/
@media all and (max-width: 768px) { 
    
    .shop_top {
        margin-bottom: 0px;
    }

    .shop_top img:nth-child(1){
        display: none;
    }

    .shop_top img:nth-child(2){
        display: none;
    }

    .section .shopmenu_list {
        width: 100%;
        margin: 20px auto 0;
        
    }
    
    .section .shopmenu_list li {
        display: inline-block;
        padding-left: 6px;
        font-size: 15px;
        letter-spacing: 1px;
        
    }
    
    .section .shopmenu_list li a {
        color: #000;
    }
    
    .section .shopmenu_list li:nth-child(1) {
        display: none;
    }
    
    .section .shopmenu_list li:nth-child(2) {
        padding: 0;
    }
    
    .section .shop_container {
        width: 100%;
    }
    
    .section .shop_container .shop-su {
       margin-top: 40px;
        margin-bottom: 15px;
        margin-right: 15px;
        text-align: left;
    }
   
    .section .shop_container .shop-su h2{
        display: inline-block;
        line-height: 0;
        padding: 0;
        margin-left: 10px;
        font-size: 18px;
    }
    
    .section .shop_container .line {
        display: block;
        width: 100%;;
        height: 2px;
        background: #000;
        
    }
    
    .section .shop_container ul li {
        width: 50%;
        margin-bottom: 10px;
    }
    
    
    .section .shop_container .best {
        margin-top: 20px;
    }
    
}



/**/
/*shop_detail*/

.section .product_detail {
    width: 80%;
    float: right;
    position: relative;
}

.section .product_detail .detail-top {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
}

.section .product_detail .product_detail_img {
    width: 60%;
    border: 0.5px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.section .product_detail .product_detail_img img{
    width: 100%;
}

.section .product_detail .product_info {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    
    padding: 20px 20px 20px;
    box-sizing: border-box;
    font-family: 'karla';
    vertical-align: bottom;
}

.section .product_detail .product_info ul {
    overflow: hidden;
}

.section .product_detail .product_info .info li {
    margin-bottom: 10px;
    font-size: 13px;
}

.section  .pro-info {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 10px;
}

.section .pro-info span {
    font-weight: normal;
    font-size: 11px;
    color: #777;
}

.section .product_detail .product_info .info li:nth-child(2) {
    font-family: 'Bree Serif';
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section .product_detail .product_info .info li:nth-child(3) {
    line-height: 20px;
    
}

.section .product_detail .product_info .info li:nth-child(4) {
    margin-top: 40px;
}

.section .product_detail .product_info .info li:nth-child(4) span {
    font-weight: 800;
}

.section .product_detail .product_info .info li:nth-child(5) {
    font-weight: 800;
}

.section .product_detail .product_info .info li:nth-child(5) select {
    font-size: 13px;
    margin-top: -2px;
    width: 80px;
    margin-left: 32px;
}

.section .product_detail .product_info .info li:nth-child(6) span {
    font-weight: 800;
}

.section .product_detail .product_info .info li:nth-child(6) input {
    width: 70px;
}

.section .product_detail .product_info .product_button {
    text-align: center;
}

.section .product_detail .product_info .product_button li{
    width: 30%;
    display: inline-block;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    border: .5px solid #ddd;
    font-family: 'Bree Serif'
}

.section .product_detail .product_info .product_button li:hover {
    background-color: #000;
    transition: ease-in .3s;
}

.section .product_detail .product_info .product_button li:hover a {
    color: #fff;
    transition: ease-in .3s;
}

.section .product_detail .product_info .product_button li:nth-child(1) {
    margin-top: 10px;
    margin-right: 3px;
}

.section .product_detail .codi {
    width: 100%;
    margin: 20px auto 0;
    padding: 15px 0;
}

.section .product_detail .codi p, .section .product_detail .detail p {
    font-size: 15px;
    margin-bottom: 5px;
    color: #444;
    border-bottom: .5px solid #ddd;
    font-weight: bold;
    font-family: 'karla';
}
.section .product_detail .codi>p span,  .section .product_detail .detail>p span{
    font-weight: normal;
    font-size: 11px;
    color: #777;
    font-family: 'karla';
}

.section .product_detail .codi img {
    width: 15%;
    box-sizing: border-box;
    margin-right: 5px;
    margin-top: 10px;
}

.section .product_detail .detail {
    margin-top: 40px;
    
}

.section .product_detail .detail img {
    width: 80%; 
    margin: 10px 50px;
}


.section  .detail_bottom_button {
    display: none;
    font-family: 'karla';
}
    
.section .detail_bottom_list {
    display: block;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'karla';
}

.section .detail_bottom_list .more {
    float: right;
    font-size: 12px;
}

.section .detail_bottom_list .review {
    text-align: left;
    overflow: hidden;
}

 .section .detail_bottom_list .detail_bottom_list h5 {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: .5px;
}

.section .detail_bottom_list .review li:nth-child(2) {
    border: 1px solid #ccc;
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
} 

.section .detail_bottom_list .qna, .fnq, .recent {
    clear: both;
    padding-top: 20px;
    text-align: left;
}

.section .detail_bottom_list .qna table {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

.section .detail_bottom_list .qna td, .fnq li {
    font-size: 12px;
    padding: 10px; 0;
}

.section .detail_bottom_list .qna tr:first-child {
    border-top: 1px solid #000;
    border-bottom: 1px dotted #000;
    font-weight: 800;
}

.section .detail_bottom_list .qna tr:nth-child(2), .qna tr:nth-child(3), .qna tr:nth-child(4), .qna tr:nth-child(5) {
    border-bottom: 1px solid #000;
}

.section .detail_bottom_list .fnq h5 {
    margin-bottom: 10px;
}

.section .detail_bottom_list .fnq li {
    border-bottom: 1px solid #bfbfbf;
}

.section .detail_bottom_list .fnq li:first-child {
    border-top: 1px solid #000;
}

.section .detail_bottom_list .recent p {
    border-bottom: 1px solid #000;
}

.section .detail_bottom_list .recent h5 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.section .detail_bottom_list .recent img {
    width: 20%;
    margin: 10px 0 40px;
}




/*모바일*/
@media all and (max-width: 768px) { 
    
    .section .product_detail .detail-top {
        width: 100%;
    }
    
    .section .product_detail {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }
    
    .section .product_detail_img {
        width: 100%;
        margin: 0 auto;
    }
    
    .section .product_detail_img img{
        width: 100%;
        margin: 0 auto;
    }
    
    .section .product_detail .product_info {
        position: relative;
        width: 100%;
    }
    
    .section .product_detail .pro-info {
        display: block;
        text-align: left;
        font-family: 'karla';
        border-bottom: .5px solid #ddd;
    }
    
    .section .product_detail .info li:nth-child(2) {
        width: 300px;
        margin: 0 auto;
        border-bottom: .5px solid #777;
        padding-bottom: 20px;
    }
    
    .section .product_detail .info li:nth-child(3) {
        width: 300px;
        margin: 20px auto;
        font-size: 13px;
        line-height: 15px;
    }
    
    .section .codi {
        text-align: left;
    }
    
    section .detail {
        text-align: left;
    }

    .section .product_detail .detail img {
        width: 100%; 
        margin: 10px auto;
    }
    
     .section .detail_bottom_list  {
        display: none;
    }
    
}


/**/
/**/
/*press*/

.section .press {
    width: 100%;
    margin: 0 auto;
}

.section .press ul {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.section .press ul li {
    width: 50%;
    float: left;
    
    box-sizing: border-box;
    padding: 50px;
    
    overflow:hidden;
    font-family: 'karla';
    font-weight: bold;
}

.section .press ul li a {
    display: block;
    overflow:hidden;
}

.section .press ul li img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.section .press ul li img:hover {
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
}

.section .press .press-txt {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 3px;
}

.section .press ul li:nth-child(2) {
    margin-top: 100px;
}


.section .press ul li:nth-child(3), .section .press ul li:nth-child(5) {
    margin-top: -100px;
}


/*모바일*/
@media all and (max-width: 768px) { 

    .section .press ul li {
        width: 50%;
        height: 400px;
        margin: 0;
        padding: 10px;
        text-align: left;
    }
    
    .section .press ul li:nth-child(2) {
        margin-top: 0
    }

    .section .press ul li:nth-child(3), .section .press ul li:nth-child(5) {
        margin-top: 0
    }

    .section .press .press-txt {
        font-size: 13px;
        letter-spacing: 1px;
    }
}


/**/
/*press detail*/


.section .press-detail {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}


.section .press-detail p{
    font-size: 13px;
    margin-top: 10px;
    font-family: 'karla';
    
}

/*모바일*/
@media all and (max-width: 768px) { 
    .section .press-detail{
        width: 100%;
    }
}



/**/
/*contact*/

.section {
    width: 80%;
}

.contact_left {
    width: 70%;
    margin-top: 120px;
    position: relative;
}

.contact_left .contact1{
    font-size: 13px;
}

.contact_left .contact1 p:nth-child(1){
    margin: 10px 0 5px;
    width: 30px;
}

.contact_left .contact1 p:nth-child(2){
    margin: 0 0 10px;
    letter-spacing: 2px;
    font-size: 30px
}

.contact_left .contact1 p:nth-child(3){
    width: 30px;
    margin-bottom: 40px;
}

.contact_left .contact1 .t1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
    width: 80%;
    font-family: 'karla';
}


.contact_left .contact1 .t1 span {
    color: #777;
}

.contact_left .contact1 .t2 {
    font-family: 'karla';
}

.contact_left .contact1 .t2 span {
    font-weight: 800;
    margin-right: 12px;
}

.contact_left .contact1 .t2 a {
    color: #000;
}

.contact_left .contact2 {
    margin: 80px auto 0;
    font-size: 13px;
}

.contact_left .contact2 .line {
    width: 30px;
    margin-bottom: 5px;
}

.contact_left .contact2 p:nth-child(2) {
    margin-bottom: 10px;
    font-size: 30px;
}

.contact_left .contact2 .t1 {
    margin: 0 0 20px;
    font-family: 'karla';
}

.contact_left .contact2 .fieldset {
    font-size: 13px;
    font-family: 'karla';
    margin: 0 0 24px;
    text-align: center;
    width: 80%;
}

.contact_left .contact2 .fieldset input {
    padding: 10px;
    margin: 6px 0 4px;
    color: #000;
    box-sizing: border-box;
    
    width: 100%;
    
    background: none;
    border: 2px solid #111;
    border-radius: 0;
}

.contact_left .contact2 .fieldset div {
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact_left .contact2 .fieldset .title {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .02em;
    margin-bottom: 0;
}

.contact_left .contact2 .fieldset .fieldset-fname {
    padding-right: 10px;
    box-sizing: border-box;
}

.contact_left .contact2 .fieldset .fieldset-fname, .contact_left .contact2 .fieldset .fieldset-lname {
    width: 50%;
    float: left;
    font-size: 13px;
}

.contact_left .contact2 .fieldset .fieldset-fname input, .contact_left .contact2 .fieldset .fieldset-lname input {
    
}

.contact_left .contact2 .fieldset .email {
    clear: both;
}

.contact_left .contact2 .fieldset .message input {
    padding: 40px;
}

.contact_left .contact2 .fieldset button{
   column-count: #000;
    border: 3px solid #000;
    padding: 10px 25px;
    font-family: 'Bree Serif';
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 auto;
    background-color: #ebefee;
}

.contact_left .contact2 .fieldset button:hover {
    color: #222;
}


/* about 오른쪽 */

.contact_right{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    padding: 0px 40px 0;
    box-sizing: border-box;
}

.contact_right .contact_insta {
    margin: 80px auto 0;
}

.contact_right .contact_insta h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    clear: both;
    margin-bottom: 10px;
}

.contact_right .line {
    width: 20px;
    margin-bottom: 10px;
}

.contact_right .contact_insta ul li {
    width: 50%;
    float: left;
    
    box-sizing: border-box;
    padding: 5px;
    
    overflow: hidden;
}

.contact_right .contact_insta li a {
    display: block;
}


.contact_right .contact_copy {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: right;
}


/*모바일*/
@media all and (max-width: 768px) { 
    
    .contact_right {
        display: none;
    }
    
    
    .contact_left {
        width: 100%;
        margin-top: 40px;
        text-align: left;
    }
    
    .contact_left .contact1 {
        
    }
    
    .contact_left .contact1 .t1 {
        width: 100%;
    }
    
    
    .contact_left .contact2 .fieldset {
        width: 100%;
    }
    
    .contact_left .contact2 .fieldset button {
        font-size: 16px;
    }
    
    
    
    }
}

















